* text=auto eol=lf
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# GitHub syntax highlighting
pixi.lock linguist-language=YAML linguist-generated=true
uv.lock linguist-language=TOML linguist-generated=true